@font-face {
  font-family: "Hunger Games";
  src: url('/assets/hunger_games');
}

body {
  margin: 42px;
}

h1 {
  font-family: "Hunger Games", "Ariel Black", sans-serif;
  font-size: 3.5em;
}

// look for web safe fonts
p {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
